@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* --primary-color: #18a0fb; */
  --primary-color: rgb(29, 145, 191);
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: calc(15px + 0.390625vw);
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
}
.header {
  background: #fff;
}
.navbar {
  padding: 0.5em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}
.nav_links {
  display: flex;
  align-items: center;
  #home {
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    padding: 0.2em;
    border-radius: 5px;
  }
  #home:hover {
    background: #fff;
    color: var(--primary-color);
  }
  a {
    color: var(--primary-color);
    padding: 5px 12px;
    margin: 0 0.3em;
    text-decoration: none;
    transition: ease-out 0.5s;
  }
  a:hover {
    color: #fff;
    background: var(--primary-color);
    border-radius: 5px;
    transition: ease-in 0.5s;
    box-shadow: 4px 4px 10px rgba(24, 160, 251, 1);
  }
}
.register {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.register_btn {
  background-color: var(--primary-color);
  color: #fff;
}
.btn {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}
#login_btn {
  background-color: #fff;
  color: var(--primary-color);
}
.icon {
  font-size: 1.2em;
  cursor: pointer;
}
.bars {
  display: none;
}
#search_bar {
  display: none;
  outline: var(--primary-color);
  padding: 0.4em 0.5em;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  width: 50%;
  font-size: 0.8em;
}

/* body */

.sub_section {
  background: white;
  padding: 2em 2em;
  text-align: center;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em 0;
  text-align: justify;
}
.card {
  justify-content: space-between;
  /* width: 44vw; */
  max-width: 48%;
  height: fit-content;
  /* min-width: 300px; */
  text-align: left;
  border-radius: 5px;
  border: 0.1px solid var(--primary-color);
  box-shadow: 3px 4px 10px rgba(24, 160, 251, 0.2);
}
/* form */
form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_container {
  margin: 0 2em;
  /* width: 70vw; */
  max-width: 600px;
  /* margin-top: 2em; */
  padding: 2em;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  gap: 1em;
  h1 {
    margin-bottom: 0.5em;
  }
  input {
    padding: 0.5em;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
  }
}
.name_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 98%; */
  gap: 1em;
}
.name {
  width: 44%;
  /* max-width: 240px; */
}

.testimonial_section {
  display: flex;
  padding: 1em 2em;
  justify-content: space-between;
}
.testimonial_content {
  width: 45%;
}
.testimonial_image {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
  img {
    width: 25%;
  }
}
/* footer */
.footer {
  background: var(--primary-color);
  color: #fff;
  margin-top: 2em;
  padding: 2em 2em;
  text-align: center;
  li {
    list-style: none;
    text-align: left;
  }
}
.footer_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em 2em;
  flex-basis: 50%;
  justify-content: space-between;
}

.footer_links {
  display: flex;
  min-width: 50vw;
  flex-wrap: wrap;
  gap: 0.5em 2em;
  justify-content: space-between;
}
.footer_head {
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em 0;
}
.footerBottom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
.social_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.icon_list {
  width: 1.4em;
  height: 1.4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

#youtube:hover {
  background: #fff;
  .youtube {
    color: #ff0000;
  }
}
#facebook:hover {
  background: #fff;
  .facebook {
    color: #3b5998;
  }
}
#instagram:hover {
  background: linear-gradient(
    135deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}
#whatsapp:hover {
  background: #25d366;
}

@media (max-width: 1024px) {
  .items {
    justify-content: center;
  }
  .card {
    width: 100%;
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .navbar {
    /* padding: 0.5em 1em; */
  }
  .nav_links {
    display: none;
  }
  .register .btn {
    display: none;
  }
  .bars,
  #search_bar {
    display: inline;
  }
  .name_container {
    flex-direction: column;
    .name {
      width: auto;
    }
  }
  .testimonial_section {
    flex-direction: column;
    align-items: center;
    gap: 2em;
    .testimonial_content {
      width: 100%;
    }
    .testimonial_image {
      img {
        width: 27%;
      }
    }
  }
  .footerBottom_container {
    justify-content: center;
    gap: 1em 5em;
  }
}
@media (max-width: 425px) {
  .register .btn {
    display: none;
  }
  .testimonial_image {
    justify-content: space-around;
    img {
      width: 40%;
    }
  }
}
