@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #18a0fb;
}

* {
  margin: 0;
  padding: 0;
}
body {
  /* margin: 0 8px; */
  font-size: calc(15px + 0.390625vw);
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
}
.header {
  /* width: 100%; */
  /* padding: 0 8px; */
  background: #fff;
}
.navbar {
  /* height: 60px; */
  /* width: 100%; */
  padding: 0.5em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav_items {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.nav_links {
  /* styles.css */

  a {
    color: var(--primary-color);
    padding: 5px 12px;
    margin: 0 0.3em;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
    background: var(--primary-color);
    border-radius: 5px;
  }
}
.register {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.register_btn {
  background-color: var(--primary-color);
  color: #fff;
}
.btn {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}
#login_btn {
  background-color: #fff;
  color: var(--primary-color);
}
.menu {
  display: none;
}

/* body */

.sub_section {
  /* background: blanchedalmond; */
  background: white;
  padding: 2em 2em;
  /* display: flex;
  flex-direction: column; */
  /* gap: 1em; */
  text-align: center;
}
.items {
  /* background: gainsboro; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5em 2em;
  text-align: justify;
}
.card {
  /* width: auto;
   Width: 90vw;
   max-width: 40vw; */
  justify-content: space-between;
  width: 43%;
  max-width: 600px;
  /* min-width: fit-content; */

  text-align: left;
  padding: 1em;
  border-radius: 5px;
  border: 0.1px solid var(--primary-color);
  box-shadow: 3px 4px 10px rgba(24, 160, 251, 0.2);
}

/* footer */
.footer {
  background: var(--primary-color);
  color: #fff;
  padding: 2em 2em;
  text-align: center;
  li {
    list-style: none;
    text-align: left;
  }
}
.footer_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em 2em;
  flex-basis: 50%;
  justify-content: space-between;
}

.footer_links {
  display: flex;
  min-width: 50vw;
  flex-wrap: wrap;
  gap: 0.5em 2em;
  justify-content: space-between;
}
.footer_head {
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em 0;
}
.footerBottom_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}

.icon {
  background: #fff;
  /* height: 20px;
  width: 30px; */
  font-size: 1.2em;
  padding: 4px;
  border-radius: 50%;

  margin: 0 0.5em;
}
.facebook {
  color: #3b5998;
}
.instagram {
  color: #f09433;
}
.youtube {
  color: #ff0000;
}
.whatsapp {
  color: #25d366;
}

@media (max-width: 1024px) {
  .items {
    /* background: red; */
    justify-content: center;
  }
  .card {
    /* width: 90vw; */
    width: 100%;
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .navbar {
    /* padding: 0.5em 1em; */
  }
  .nav_links {
    display: none;
  }
  .footerBottom_container {
    justify-content: center;
    gap: 1em 5em;
  }
}
@media (max-width: 425px) {
  .register .btn {
    display: none;
  }
  .menu {
    display: block;
  }
}
